/**
 * Primary Application Stylesheet
 * 
 * @langversion SASS (http://sass-lang.com/)
 * 
 * @author Christopher Pappas
 * @since  Month 00, 2012
 */

$imagePath: '../images/';
$backgroundImage: $imagePath + 'bg-repeatable.png';

* {
  box-sizing: border-box;
}

body {
	background: #223f54 url( $backgroundImage );
	overflow: hidden;
	user-select: none;
	width: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}