/**
 * Primary Application Stylesheet
 * 
 * @langversion SASS (http://sass-lang.com/)
 * 
 * @author Christopher Pappas
 * @since  12.23.2012
 */

* {
  box-sizing: border-box;
}

body {
	background: #333;
	overflow: hidden;
	user-select: none;
	width: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#canvas {
	width: 1000px;
	height: 1000px;
}